<mat-toolbar>
    <span>Itaú Gastos do Cartão</span>
  </mat-toolbar>

  
  <mat-tab-group mat-align-tabs="center" >
      <mat-tab label="Por mês">
          <div *ngFor='let lancamento of porMes'>
              <div>
                  {{lancamento[0]}} <br> R${{lancamento[1]}}
              </div>
            
            </div>
          </mat-tab>
          <mat-tab label="Por categoria">
            <div *ngFor='let lancamento of porMes'>
                <div>
                    {{lancamento[0]}} <br> R${{lancamento[1]}}
                </div>
              
              </div>
          </mat-tab>
          <mat-tab label="Lista Geral">
            <div *ngFor='let lancamento of lancamentos'>
                <div>
                    {{lancamento.origem}} <br> R${{lancamento.valor}}
                </div>
              
              </div>
          </mat-tab>
        </mat-tab-group>

      

